body{
    position: relative;
    background: url("../image/bg.png");
}
.main-head{
    padding: 10px;
    background-color: rgba(91, 192, 222, 0.65);
    box-shadow: 0 0 15px rgba(91, 192, 222, 0.65);
    border-radius: 5px;
}
.content{
    margin-top: 20px;
    padding: 10px;

    height: 1000px;

    border-radius: 5px;
    box-shadow: 1px 1px 5px black;

    background-color: rgba(143, 152, 151, 0.13);
}
.main-menu{

}
.main-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-menu ul li:before{
    content: ">";
    margin: 0 10px;
}
.main-menu ul li:hover{
    background-color: rgba(143, 152, 151, 0.56);
    cursor: pointer;
}

.main-menu ul li{
    border-radius: 5px;
    padding: 5px 0;
}
.main-menu ul li a{
    padding: 0;
    display: inline;
}
.main-menu ul li a:hover{
    background: none;
}
.main-menu ul li.active{
    background-color: #f0ad4e;
}